<div id="search-component">
    <form [formGroup]="heroForm">
        <label for="search-box">Hero Search</label>
        <input type="text" [formControl]="heroForm.controls.term">
    </form>
    @if(termControl?.errors?.['empty']){
    <div class="search-error">
        *Search text should not be empty.
    </div>
    }
    <ul class="search-result">
        @for(hero of heroes$ | async ;track hero){
        <li>
            <a routerLink="/detail/{{hero.id}}">
                {{hero.name}}
            </a>
        </li>
        }
    </ul>
</div>
